table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h1{
    font-family: Garamond;
    letter-spacing: 2px;
  }

.onpage{
  background-color: #af0000;
}

.center{
  text-align: center;
}


hr.divider {
  border-top: 3px solid #bbb;
}

#container {
    margin-left: 220px;
    margin-top: 23px; 
    padding: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px #525252;
}

.error{
  color: red;
}

.navigationbar {
  background-color: rgb(84, 0, 0);
  overflow: auto;
  
}

.navigationbar a {
  float: left;
  color: #ffffff;
  overflow: hidden;
  padding: 20px 18px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  font-family: Georgia;
}

.navigationbar a:hover {
  background-color: rgb(225, 225, 225);
  color: black;
}

.navigationbar a.active {
  background-color: #af0000;
  color: white;
}

.sidebar {
    width: 200px;
    height: 600px;
    background-color: rgb(84, 0, 0);
    float: left;
}

.vertical-nav {
    padding: 10px;
    font-family: Georgia, serif;
}

.vertical-nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(225, 225, 225);
}

.vertical-nav a:hover {
    background-color: rgb(225, 225, 225);
    color: black;
}

#container2 {
    position: relative;
    left: 0;
    margin: 23px;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px #525252;
}

ul.index {
  list-style-type: none;
  padding: 0;
  display: block;
  width: 500px;
  overflow: hidden;
  background-color: rgb(84, 0, 0);
  font-family: Garamond;
  font-size: 18px;
}

ul.menu {
  list-style-type: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  overflow: hidden;
  background-color: rgb(84, 0, 0);
  font-family: Garamond;
  font-size: 30px;
}

ul.bg {
  background: #e4dfdf;
  width:60%;
  height: 60%;
  padding: 30px;
  position: relative;
  display: block;
  box-shadow: 0 0 10px #000000;
  left: 20%;
  font-size: 20px;
}

li {
  float: center;
}

li a {
  display:block;
  color: white;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  font-family: Garamond;
  font-weight: bold;
}

li a:hover {
  background-color: rgb(225, 225, 225);
  color: black;
}

ul.menu2 {
  list-style-type: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: hidden;
  background-color: rgb(84, 0, 0);
  font-family: Garamond;
  font-size: 25px;
}

.sidebar2 {
  width: 200px;
  height: 900px;
  background-color: rgb(84, 0, 0);
  float: left;
}

.vertical-nav2 {
  padding: 10px;
  font-family: Georgia, serif;
}

.vertical-nav2 a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(225, 225, 225);
}

.vertical-nav2 a:hover {
  background-color: rgb(225, 225, 225);
  color: black;
}